<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center>
        <h1>WELCOME, PLEASE LOGIN</h1>
        <form action="/loginvalues" method="POST">
            <h5>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </h5>
            <label>Username:</label>
            <input type="text" name="usn">
            <label>Password:</label>
            <input type="password" name="psw">
            <button type="submit">LOGIN</button>
           <p>Not an User? <a href = '/signup'>SignUp Now.</a></p>
        </form>
    </center>
</body>
</html>
